<header>
  <!-- This is a header-->
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="img/logo.jpg" alt="App-Name" width="85" height="50">
      </a>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/map">Map</a>
              </li class="nav-item">
              <li class="nav-item">
                  <a class="nav-link" href="/news">News</a>
              </li class="nav-item">
              <li class="nav-item">
                  <a class="nav-link" href="/sms">Text</a>
              </li class="nav-item">
              <li class="nav-item">
                  <a class="nav-link" href="/twitter">Twitter</a>
              </li class="nav-item">

              <li class="nav nav-item">
                  {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li class="nav-item">
                  {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="signup">Signup</a>
                    </li class="nav-item">
                  {{/if}}
              </li>
          </ul>
      </div>
  </nav>

</header>
