<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
<<<<<<< HEAD

    {{> header}}


    <p>About text here</p>
    {{> footer}}
    {{> dependencies}}

=======
    <p>About text here</p>
    {{> footer}}
>>>>>>> 6add527fdd3c7186be11c3cc3e045d42063cf2ad
  </body>
</html>
