<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
</head>

<body>

  {{> header}}

  <p>Map page</p>

  <iframe src="//www.google.com/maps/embed/v1/place?q=Harrods,Brompton%20Rd,%20UK
      &zoom=17
      &key=AIzaSyDnmLit0APMDhqR136G_5rAoKpAuTyGunQ">
  </iframe>

  {{> footer}}
  {{> dependencies}}




</body>
</html>
