<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>

    <!--Signup form here-->
    <h3>Sign up</h3>
    <form id="signup-form">
      <ul>
        <li>
          <label>Name:</label>
          <textarea id="name"></textarea>
        </li>
        <li>
          <label>Email:</label>
          <textarea id="email"></textarea>
        </li>
        <li>
          <label>Password:</label>
          <textarea id="password"></textarea>
        </li>
        <li>
          <button>Submit</button>
        </li>
      </ul>
    </form>

    {{> footer}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery-3.2.1.min.js"></script>
    <script src="/js/signup.js"></script>

  </body>
</html>
