<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{pageTitle}}</title>
</head>

<body>

  {{> header}}

  <p class="text-center">Map page</p>

  <iframe style="display: block; margin: 0 auto" src={{googleMapsURL}}>
  </iframe>

  {{> footer}}
  {{> dependencies}}




</body>
</html>
