<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{pageTitle}}</title>
</head>

<body>

  {{> header}}

  <h3 class="text-center">Profile page</h3>
  <p></p>

  <div class="page-padding">
    {{> flash}}

    <p>Your name: {{name}}</p>
    <p>Your email: {{email}}</p>
  </div>

  {{> footer}}
  {{> dependencies}}




</body>
</html>
