<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>

    {{> header}}

    <h3 class="text-center">Text somebody</h3>

    <div align="center" class="mt-5">
      <form id="text-form" method="post" action="/sms">
        <div>
          <input type="submit" value="Send message"/>
        </div>
      </form>
      <div class="mb-5"></div>
    </div>


    {{> footer}}
    {{> dependencies}}


  </body>
</html>
